body {
  margin: 0;
  color: #333333;
  background-color: #f4f4f4;
  letter-spacing: 0.08rem;
  font-size: 0.8rem;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

img {
  width: 250px;
}

p,
li {
  text-transform: lowercase;
}

button {
  cursor: pointer;
  padding: 1rem;
  margin: 0.1rem;
  outline: none;
  transition: all 0.2s linear;
  color: white;
  background-color: cadetblue;
  border: 1px solid cadetblue;
}

button:hover {
  color: cadetblue;
  background-color: white;
}

button:active {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 700px;
  padding: 0 1rem;
  margin: auto;
}

.content {
  flex-grow: 1;
}

.grid-wrapper {
  position: relative;
  outline: 2px ridge #5f9ea0;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 250px;
  width: 250px;
  margin: 1rem auto;
}

.grid-cell {
  border: 1px solid rgb(95, 158, 160, 0.5);
  border-radius: 50%; /* <-- 0% to make square cells*/
  transition: all 0.3s ease;
}

.grid-cell:hover {
  cursor: pointer;
  transform: scale(1.2);
  border: 1px solid orangered;
  opacity: 1;
}

.rules {
  text-align: justify;
}

.counter {
  background-color: white;
  outline: 1px solid cadetblue;
  color: cadetblue;
  margin: 1rem auto;
  width: 1rem;
  padding: 0.5rem;
  cursor: default;
  min-width: 50px;
}
